.w-100 {
  width: 100% !important;
}

.h-640 {
  height: 640px;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
